@import "tailwindcss";

:root {
    --primary: #2684FF;
    --secondary: #AFD2FF;
    --bg-blue:#F1F8FF;
}
#root{
  height: 100%;

}
body {
  font-family: 'Satoshi', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-bg {
  background-color: var(--primary);
}
.secondary-bg {
  background-color: var(--secondary);
}
.light-bg{
    background-color: var(--bg-blue);
}
.primary-text {
 color: var(--primary);
}
/* text-xs   → 12px
text-sm   → 14px
text-base → 16px
text-lg   → 18px
text-xl   → 20px
text-2xl  → 24px
text-3xl  → 30px
text-4xl  → 36px
text-5xl  → 48px
text-6xl  → 60px
text-7xl  → 72px
text-8xl  → 96px
text-9xl  → 128px */

/* font-thin       → 100
font-extralight → 200
font-light      → 300
font-normal     → 400
font-medium     → 500
font-semibold   → 600
font-bold       → 700
font-extrabold  → 800
font-black      → 900 */


/* pt-1 → 4px
pt-2 → 8px
pt-4 → 16px
pt-6 → 24px
pt-8 → 32px
pt-10 → 40px
pt-12 → 48px */

/* rounded-none → 0px
rounded-sm   → 2px
rounded      → 4px
rounded-md   → 6px
rounded-lg   → 8px
rounded-xl   → 12px
rounded-2xl  → 16px
rounded-3xl  → 24px
rounded-full → 9999px */

/* 
https://ibb.co/cSxqV3Rk
https://ibb.co/BVGJkVMH
https://ibb.co/tPXDgGPF */



/* https://i.ibb.co/Vc3659bJ/773412b4f7fa6da9cc80529de6db2e12fc158b5e.png

https://i.ibb.co/svC47vYp/976a531b81eae71acb7489a8d453b5d3da628f49.png
 */
